In [81]:
from glob import glob
from pathlib import Path

import pandas as pd

In [82]:
single_data_acc = pd.read_csv("../../data/raw/MetaMotion/A-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv")
single_data_gyro = pd.read_csv("../../data/raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv")

In [83]:
single_data_acc.head()

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g)
0,1547472421400,2019-01-14T14:27:01.400,0.00,-0.181,0.796,-0.383
1,1547472421480,2019-01-14T14:27:01.480,0.08,-0.192,0.823,-0.424
2,1547472421560,2019-01-14T14:27:01.560,0.16,-0.203,0.808,-0.421
3,1547472421640,2019-01-14T14:27:01.640,0.24,-0.217,0.833,-0.439
4,1547472421720,2019-01-14T14:27:01.720,0.32,-0.206,0.845,-0.446

In [84]:
single_data_gyro.head()

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s)
0,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841
1,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610
2,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024
3,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634
4,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500

In [85]:
data_path = "../../data/raw/MetaMotion"

In [86]:
files = glob("../../data/raw/MetaMotion/*.csv")

In [87]:
files[:5]

['../../data/raw/MetaMotion\\A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy2_MetaWear_2019-01-14T14.27.00.784_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv',
 '../../data/raw/MetaMotion\\A-bench-heavy3-rpe8_MetaWear_2019-01-11T16.14.45.178_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv']

In [88]:
len(files)

187

In [89]:
import string
f = files[0]

participant = f.split("-")[0].replace(data_path, "").replace('\\', "")
label  = f.split("-")[1]
category = f.split("-")[2].rstrip(string.digits)

participant, label, category

('A', 'bench', 'heavy')

In [90]:
df = pd.read_csv(f)

df["participant"] = participant
df["label"] = label
df["category"] = category

df.head(10)

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),participant,label,category
0,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,A,bench,heavy
1,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,A,bench,heavy
2,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,A,bench,heavy
3,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084,A,bench,heavy
4,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094,A,bench,heavy
5,1547219408831,2019-01-11T16:10:08.831,0.40,-0.017,0.902,-0.108,A,bench,heavy
6,1547219408911,2019-01-11T16:10:08.911,0.48,-0.025,0.855,-0.128,A,bench,heavy
7,1547219408991,2019-01-11T16:10:08.991,0.56,-0.042,0.844,-0.139,A,bench,heavy
8,1547219409071,2019-01-11T16:10:09.071,0.64,-0.049,0.875,-0.171,A,bench,heavy
9,1547219409151,2019-01-11T16:10:09.151,0.72,-0.075,0.871,-0.139,A,bench,heavy

In [91]:
# Read all files

acc_df = pd.DataFrame()
gyr_df = pd.DataFrame()

acc_set = 1
gyr_set = 1


for f in files:
    participant = f.split("-")[0].replace(data_path, "").replace("\\","")
    label = f.split("-")[1]
    category = f.split("-")[2]

    df = pd.read_csv(f)

    df["category"] = category
    df["label"] = label
    df["participant"] = participant

    if "Accelerometer" in f:
        df["set"] = acc_set
        acc_set += 1
        acc_df = pd.concat([acc_df, df])
    if "Gyroscope" in f:
        df["set"] = gyr_set
        gyr_set += 1
        gyr_df = pd.concat([gyr_df, df])


acc_df.shape, gyr_df.shape

((23578, 10), (47218, 10))

In [92]:
acc_df.head()

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),category,label,participant,set
0,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,heavy2,bench,A,1
1,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,heavy2,bench,A,1
2,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,heavy2,bench,A,1
3,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084,heavy2,bench,A,1
4,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094,heavy2,bench,A,1

In [93]:
gyr_df.head()

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),category,label,participant,set
0,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841,heavy2,bench,A,1
1,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610,heavy2,bench,A,1
2,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024,heavy2,bench,A,1
3,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634,heavy2,bench,A,1
4,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500,heavy2,bench,A,1

## Working with datetimes

In [94]:


acc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23578 entries, 0 to 241
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   epoch (ms)    23578 non-null  int64
 1   time (01:00)  23578 non-null  object
 2   elapsed (s)   23578 non-null  float64
 3   x-axis (g)    23578 non-null  float64
 4   y-axis (g)    23578 non-null  float64
 5   z-axis (g)    23578 non-null  float64
 6   category      23578 non-null  object
 7   label         23578 non-null  object
 8   participant   23578 non-null  object
 9   set           23578 non-null  int64
dtypes: float64(4), int64(2), object(4)
memory usage: 2.0+ MB

In [95]:
pd.to_datetime(df["epoch (ms)"], unit="ms")

0     2019-01-16 19:14:03.834
1     2019-01-16 19:14:03.874
2     2019-01-16 19:14:03.914
3     2019-01-16 19:14:03.954
4     2019-01-16 19:14:03.994
                ...
487   2019-01-16 19:14:23.314
488   2019-01-16 19:14:23.354
489   2019-01-16 19:14:23.394
490   2019-01-16 19:14:23.434
491   2019-01-16 19:14:23.474
Name: epoch (ms), Length: 492, dtype: datetime64[ns]

In [96]:
df["time (01:00)"]

0      2019-01-16 20:14:03.834
1      2019-01-16 20:14:03.874
2      2019-01-16 20:14:03.914
3      2019-01-16 20:14:03.954
4      2019-01-16 20:14:03.994
                ...
487    2019-01-16 20:14:23.314
488    2019-01-16 20:14:23.354
489    2019-01-16 20:14:23.394
490    2019-01-16 20:14:23.434
491    2019-01-16 20:14:23.474
Name: time (01:00), Length: 492, dtype: object

In [97]:
pd.to_datetime(df["time (01:00)"])

0     2019-01-16 20:14:03.834
1     2019-01-16 20:14:03.874
2     2019-01-16 20:14:03.914
3     2019-01-16 20:14:03.954
4     2019-01-16 20:14:03.994
                ...
487   2019-01-16 20:14:23.314
488   2019-01-16 20:14:23.354
489   2019-01-16 20:14:23.394
490   2019-01-16 20:14:23.434
491   2019-01-16 20:14:23.474
Name: time (01:00), Length: 492, dtype: datetime64[ns]

In [98]:
acc_df.index = pd.to_datetime(acc_df["epoch (ms)"], unit="ms")
gyr_df.index = pd.to_datetime(gyr_df["epoch (ms)"], unit="ms")

In [99]:
acc_df.head()

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),category,label,participant,set
epoch (ms),,,,,,,,,,
2019-01-11 15:10:08.431,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,heavy2,bench,A,1
2019-01-11 15:10:08.511,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,heavy2,bench,A,1
2019-01-11 15:10:08.591,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,heavy2,bench,A,1
2019-01-11 15:10:08.671,1547219408671,2019-01-11T16:10:08.671,0.24,-0.012,0.971,-0.084,heavy2,bench,A,1
2019-01-11 15:10:08.751,1547219408751,2019-01-11T16:10:08.751,0.32,-0.013,0.954,-0.094,heavy2,bench,A,1

In [100]:
gyr_df.head()

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),category,label,participant,set
epoch (ms),,,,,,,,,,
2019-01-11 15:10:08.351,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841,heavy2,bench,A,1
2019-01-11 15:10:08.391,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610,heavy2,bench,A,1
2019-01-11 15:10:08.431,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024,heavy2,bench,A,1
2019-01-11 15:10:08.471,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634,heavy2,bench,A,1
2019-01-11 15:10:08.511,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500,heavy2,bench,A,1

In [101]:
del acc_df["time (01:00)"]
del acc_df['epoch (ms)']
del acc_df["elapsed (s)"]

del gyr_df["time (01:00)"]
del gyr_df['epoch (ms)']
del gyr_df["elapsed (s)"]

In [102]:
files = glob("../../data/raw/MetaMotion/*.csv")

def read_data_from_files(files):
    acc_df = pd.DataFrame()
    gyr_df = pd.DataFrame()

    acc_set = 1
    gyr_set = 1


    for f in files:
        participant = f.split("-")[0].replace(data_path, "").replace("\\","")
        label = f.split("-")[1]
        category = f.split("-")[2].rstrip(string.digits)

        df = pd.read_csv(f)

        df["participant"] = participant
        df["label"] = label
        df["category"] = category

        if "Accelerometer" in f:
            df["set"] = acc_set
            acc_set += 1
            acc_df = pd.concat([acc_df, df])
        if "Gyroscope" in f:
            df["set"] = gyr_set
            gyr_set += 1
            gyr_df = pd.concat([gyr_df, df])

    acc_df.index = pd.to_datetime(acc_df["epoch (ms)"], unit="ms")
    gyr_df.index = pd.to_datetime(gyr_df["epoch (ms)"], unit="ms")

    del acc_df["time (01:00)"]
    del acc_df['epoch (ms)']
    del acc_df["elapsed (s)"]

    del gyr_df["time (01:00)"]
    del gyr_df['epoch (ms)']
    del gyr_df["elapsed (s)"]
    return acc_df, gyr_df


acc_df, gyr_df = read_data_from_files(files)

In [103]:
data_merged = pd.concat([acc_df.iloc[:,:3], gyr_df], axis=1)

data_merged.dropna().head(10)

,x-axis (g),y-axis (g),z-axis (g),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,label,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:10:08.431,0.010,0.964,-0.087,2.622,-8.110,-4.024,A,bench,heavy,1.0
2019-01-11 15:10:08.511,0.000,0.961,-0.069,1.524,-2.561,-2.500,A,bench,heavy,1.0
2019-01-11 15:10:08.591,0.001,0.974,-0.087,1.707,-5.366,0.915,A,bench,heavy,1.0
2019-01-11 15:10:08.671,-0.012,0.971,-0.084,2.683,-4.146,-1.220,A,bench,heavy,1.0
2019-01-11 15:10:08.751,-0.013,0.954,-0.094,1.524,0.610,-3.171,A,bench,heavy,1.0
2019-01-11 15:10:08.831,-0.017,0.902,-0.108,6.280,-4.207,-6.768,A,bench,heavy,1.0
2019-01-11 15:10:08.911,-0.025,0.855,-0.128,8.537,1.159,-14.268,A,bench,heavy,1.0
2019-01-11 15:10:08.991,-0.042,0.844,-0.139,13.171,-3.963,-15.061,A,bench,heavy,1.0
2019-01-11 15:10:09.071,-0.049,0.875,-0.171,21.585,-10.000,-8.598,A,bench,heavy,1.0
2019-01-11 15:10:09.151,-0.075,0.871,-0.139,13.110,-4.146,-16.159,A,bench,heavy,1.0

In [104]:
data_merged.columns = [
    "acc_x",
    "acc_y",
    "acc_z",
    "gyr_x",
    "gyr_y",
    "gyr_z",
    "participant",
    "label",
    "category",
    "set"
]
data_merged.head(100)

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,participant,label,category,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.950,NaN,NaN,NaN,-10.671,-1.524,5.976,B,bench,heavy,30.0
2019-01-11 15:08:04.990,NaN,NaN,NaN,-8.720,-2.073,3.171,B,bench,heavy,30.0
2019-01-11 15:08:05.030,NaN,NaN,NaN,0.488,-3.537,-4.146,B,bench,heavy,30.0
2019-01-11 15:08:05.070,NaN,NaN,NaN,0.244,-5.854,3.537,B,bench,heavy,30.0
2019-01-11 15:08:05.110,NaN,NaN,NaN,-0.915,0.061,-2.805,B,bench,heavy,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-11 15:08:07.590,NaN,NaN,NaN,12.744,-9.512,-19.756,B,bench,heavy,30.0
2019-01-11 15:08:07.630,NaN,NaN,NaN,7.073,-1.220,-7.378,B,bench,heavy,30.0
2019-01-11 15:08:07.634,-0.232,0.9,-0.186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-11 15:08:07.670,NaN,NaN,NaN,9.939,-6.402,12.256,B,bench,heavy,30.0
2019-01-11 15:08:07.710,NaN,NaN,NaN,-0.915,2.988,-2.134,B,bench,heavy,30.0

In [105]:
sampling = {
    'acc_x':"mean",
    'acc_y':"mean",
    'acc_z':"mean",
    'gyr_x':"mean",
    'gyr_y':"mean",
    'gyr_z':"mean",
    'participant':"last",
    'label':"last",
    'category':"last",
    'set':"last"
}


data_merged[:1000].resample(rule="200ms").apply(sampling)

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,category,label,participant,set
epoch (ms),,,,,,,,,,
2019-01-11 15:08:04.800,NaN,NaN,NaN,-9.69550,-1.7985,4.5735,heavy,bench,B,30.0
2019-01-11 15:08:05.000,NaN,NaN,NaN,-2.01220,-0.4270,-1.6218,heavy,bench,B,30.0
2019-01-11 15:08:05.200,0.013500,0.977000,-0.071000,-1.89040,2.4392,0.9388,heavy,bench,B,30.0
2019-01-11 15:08:05.400,-0.001500,0.970500,-0.079500,-1.68260,-0.8904,2.1708,heavy,bench,B,30.0
2019-01-11 15:08:05.600,0.001333,0.971667,-0.064333,2.56080,-0.2560,-1.4146,heavy,bench,B,30.0
...,...,...,...,...,...,...,...,...,...,...
2019-01-11 15:10:21.600,-0.174000,1.092667,-0.153333,-4.96360,-16.4026,21.9026,heavy,bench,A,1.0
2019-01-11 15:10:21.800,-0.219500,1.402500,-0.109000,-7.52440,18.6706,-22.6828,heavy,bench,A,1.0
2019-01-11 15:10:22.000,-0.192000,0.871667,-0.155667,2.60980,8.7070,-14.8658,heavy,bench,A,1.0
2019-01-11 15:10:22.200,-0.227000,0.891000,-0.170000,5.39020,4.0000,-0.3780,heavy,bench,A,1.0
2019-01-11 15:10:22.400,-0.225500,0.919500,-0.205500,6.34125,0.5795,9.9085,heavy,bench,A,1.0

In [106]:
days = [g for n, g in data_merged.groupby(pd.Grouper(freq="D"))]
days

[                         acc_x  acc_y  acc_z   gyr_x   gyr_y  gyr_z  \
 epoch (ms)
 2019-01-11 15:08:04.950    NaN    NaN    NaN -10.671  -1.524  5.976
 2019-01-11 15:08:04.990    NaN    NaN    NaN  -8.720  -2.073  3.171
 2019-01-11 15:08:05.030    NaN    NaN    NaN   0.488  -3.537 -4.146
 2019-01-11 15:08:05.070    NaN    NaN    NaN   0.244  -5.854  3.537
 2019-01-11 15:08:05.110    NaN    NaN    NaN  -0.915   0.061 -2.805
 ...                        ...    ...    ...     ...     ...    ...
 2019-01-11 16:24:55.706    NaN    NaN    NaN  -8.415   7.683  4.207
 2019-01-11 16:24:55.746    NaN    NaN    NaN  -4.573  -5.732  2.744
 2019-01-11 16:24:55.753  0.005 -1.022 -0.176     NaN     NaN    NaN
 2019-01-11 16:24:55.786    NaN    NaN    NaN   1.463 -12.195 -0.305
 2019-01-11 16:24:55.833 -0.002 -1.026 -0.189     NaN     NaN    NaN

                         participant  label category   set
 epoch (ms)
 2019-01-11 15:08:04.950           B  bench    heavy  30.0
 2019-01-11 15:08:04.990           B  bench    heavy  30.0
 2019-01-11 15:08:05.030           B  bench    heavy  30.0
 2019-01-11 15:08:05.070           B  bench    heavy  30.0
 2019-01-11 15:08:05.110           B  bench    heavy  30.0
 ...                             ...    ...      ...   ...
 2019-01-11 16:24:55.706           A   dead   medium   6.0
 2019-01-11 16:24:55.746           A   dead   medium   6.0
 2019-01-11 16:24:55.753         NaN    NaN      NaN   NaN
 2019-01-11 16:24:55.786           A   dead   medium   6.0
 2019-01-11 16:24:55.833         NaN    NaN      NaN   NaN

 [14549 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x   gyr_y  gyr_z  \
 epoch (ms)
 2019-01-12 15:10:08.351    NaN    NaN    NaN  0.122  -5.488 -3.841
 2019-01-12 15:10:08.391    NaN    NaN    NaN  2.195  -9.695 -0.610
 2019-01-12 15:10:08.431  0.010  0.964 -0.087  2.622  -8.110 -4.024
 2019-01-12 15:10:08.471    NaN    NaN    NaN  1.951  -4.695 -4.634
 2019-01-12 15:10:08.511  0.000  0.961 -0.069  1.524  -2.561 -2.500
 ...                        ...    ...    ...    ...     ...    ...
 2019-01-12 16:24:55.706    NaN    NaN    NaN -8.415   7.683  4.207
 2019-01-12 16:24:55.746    NaN    NaN    NaN -4.573  -5.732  2.744
 2019-01-12 16:24:55.753  0.005 -1.022 -0.176    NaN     NaN    NaN
 2019-01-12 16:24:55.786    NaN    NaN    NaN  1.463 -12.195 -0.305
 2019-01-12 16:24:55.833 -0.002 -1.026 -0.189    NaN     NaN    NaN

                         participant  label category   set
 epoch (ms)
 2019-01-12 15:10:08.351           E  bench    heavy  65.0
 2019-01-12 15:10:08.391           E  bench    heavy  65.0
 2019-01-12 15:10:08.431           E  bench    heavy  65.0
 2019-01-12 15:10:08.471           E  bench    heavy  65.0
 2019-01-12 15:10:08.511           E  bench    heavy  65.0
 ...                             ...    ...      ...   ...
 2019-01-12 16:24:55.706           E   dead   medium  73.0
 2019-01-12 16:24:55.746           E   dead   medium  73.0
 2019-01-12 16:24:55.753         NaN    NaN      NaN   NaN
 2019-01-12 16:24:55.786           E   dead   medium  73.0
 2019-01-12 16:24:55.833         NaN    NaN      NaN   NaN

 [2026 rows x 10 columns],
 Empty DataFrame
 Columns: [acc_x, acc_y, acc_z, gyr_x, gyr_y, gyr_z, participant, label, category, set]
 Index: [],
                          acc_x  acc_y  acc_z  gyr_x   gyr_y  gyr_z  \
 epoch (ms)
 2019-01-14 13:22:49.353    NaN    NaN    NaN -2.866  -0.610 -5.366
 2019-01-14 13:22:49.393    NaN    NaN    NaN -2.500  -0.610 -3.963
 2019-01-14 13:22:49.433    NaN    NaN    NaN  1.707  -3.902  1.524
 2019-01-14 13:22:49.473    NaN    NaN    NaN  2.439  -4.939 -4.207
 2019-01-14 13:22:49.513    NaN    NaN    NaN  7.500  -6.037  1.768
 ...                        ...    ...    ...    ...     ...    ...
 2019-01-14 14:08:59.349  0.016 -0.990 -0.110    NaN     NaN    NaN
 2019-01-14 14:08:59.352    NaN    NaN    NaN  4.512 -12.317 -2.683
 2019-01-14 14:08:59.392    NaN    NaN    NaN  5.610 -15.427 -0.244
 2019-01-14 14:08:59.429  0.024 -0.986 -0.061    NaN     NaN    NaN
 2019-01-14 14:08:59.509  0.033 -0.977 -0.055    NaN     NaN    NaN

                         participant  label         category   set
 epoch (ms)
 2019-01-14 13:22:49.353           A  bench  heavy_MetaWear_   4.0
 2019-01-14 13:22:49.393           A  bench  heavy_MetaWear_   4.0
 2019-01-14 13:22:49.433           A  bench  heavy_MetaWear_   4.0
 2019-01-14 13:22:49.473           A  bench  heavy_MetaWear_   4.0
 2019-01-14 13:22:49.513           A  bench  heavy_MetaWear_   4.0
 ...                             ...    ...              ...   ...
 2019-01-14 14:08:59.349         NaN    NaN              NaN   NaN
 2019-01-14 14:08:59.352           C    row  heavy_MetaWear_  49.0
 2019-01-14 14:08:59.392           C    row  heavy_MetaWear_  49.0
 2019-01-14 14:08:59.429         NaN    NaN              NaN   NaN
 2019-01-14 14:08:59.509         NaN    NaN              NaN   NaN

 [7378 rows x 10 columns],
                          acc_x  acc_y  acc_z   gyr_x   gyr_y  gyr_z  \
 epoch (ms)
 2019-01-15 13:22:49.353    NaN    NaN    NaN  -2.866  -0.610 -5.366
 2019-01-15 13:22:49.393    NaN    NaN    NaN  -2.500  -0.610 -3.963
 2019-01-15 13:22:49.433    NaN    NaN    NaN   1.707  -3.902  1.524
 2019-01-15 13:22:49.473    NaN    NaN    NaN   2.439  -4.939 -4.207
 2019-01-15 13:22:49.513    NaN    NaN    NaN   7.500  -6.037  1.768
 ...                        ...    ...    ...     ...     ...    ...
 2019-01-15 19:37:47.572    NaN    NaN    NaN   8.780  20.366  0.183
 2019-01-15 19:37:47.575  0.077 -1.041 -0.137     NaN     NaN    NaN
 2019-01-15 19:37:47.612    NaN    NaN    NaN   9.939  29.573  2.744
 2019-01-15 19:37:47.652    NaN    NaN    NaN  15.488  34.878  5.610
 2019-01-15 19:37:47.655  0.098 -1.039 -0.103     NaN     NaN    NaN

                         participant  label          category   set
 epoch (ms)
 2019-01-15 13:22:49.353           E  bench   heavy_MetaWear_  68.0
 2019-01-15 13:22:49.393           E  bench   heavy_MetaWear_  68.0
 2019-01-15 13:22:49.433           E  bench   heavy_MetaWear_  68.0
 2019-01-15 13:22:49.473           E  bench   heavy_MetaWear_  68.0
 2019-01-15 13:22:49.513           E  bench   heavy_MetaWear_  68.0
 ...                             ...    ...               ...   ...
 2019-01-15 19:37:47.572           C   dead  medium_MetaWear_  44.0
 2019-01-15 19:37:47.575         NaN    NaN               NaN   NaN
 2019-01-15 19:37:47.612           C   dead  medium_MetaWear_  44.0
 2019-01-15 19:37:47.652           C   dead  medium_MetaWear_  44.0
 2019-01-15 19:37:47.655         NaN    NaN               NaN   NaN

 [14782 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y   gyr_z  \
 epoch (ms)
 2019-01-16 14:04:06.332    NaN    NaN    NaN  1.402 -6.280   1.585
 2019-01-16 14:04:06.372    NaN    NaN    NaN  1.341 -5.427   0.915
 2019-01-16 14:04:06.412    NaN    NaN    NaN -1.280  0.671  -1.829
 2019-01-16 14:04:06.452    NaN    NaN    NaN -1.829  0.366  -0.549
 2019-01-16 14:04:06.492    NaN    NaN    NaN -1.951 -2.683   1.829
 ...                        ...    ...    ...    ...    ...     ...
 2019-01-16 19:35:43.646    NaN    NaN    NaN  5.671 -1.463  10.183
 2019-01-16 19:35:43.652 -0.024 -1.044 -0.172    NaN    NaN     NaN
 2019-01-16 19:35:43.686    NaN    NaN    NaN  5.854 -2.988   9.512
 2019-01-16 19:35:43.726    NaN    NaN    NaN  0.915 -5.793   9.634
 2019-01-16 19:35:43.732 -0.012 -1.048 -0.124    NaN    NaN     NaN

                         participant label         category   set
 epoch (ms)
 2019-01-16 14:04:06.332           E   row  heavy_MetaWear_  84.0
 2019-01-16 14:04:06.372           E   row  heavy_MetaWear_  84.0
 2019-01-16 14:04:06.412           E   row  heavy_MetaWear_  84.0
 2019-01-16 14:04:06.452           E   row  heavy_MetaWear_  84.0
 2019-01-16 14:04:06.492           E   row  heavy_MetaWear_  84.0
 ...                             ...   ...              ...   ...
 2019-01-16 19:35:43.646           E  dead  heavy_MetaWear_  72.0
 2019-01-16 19:35:43.652         NaN   NaN              NaN   NaN
 2019-01-16 19:35:43.686           E  dead  heavy_MetaWear_  72.0
 2019-01-16 19:35:43.726           E  dead  heavy_MetaWear_  72.0
 2019-01-16 19:35:43.732         NaN   NaN              NaN   NaN

 [5088 rows x 10 columns],
 Empty DataFrame
 Columns: [acc_x, acc_y, acc_z, gyr_x, gyr_y, gyr_z, participant, label, category, set]
 Index: [],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y  gyr_z participant  \
 epoch (ms)
 2019-01-18 16:45:47.773    NaN    NaN    NaN -2.073 -0.549 -0.305           D
 2019-01-18 16:45:47.813    NaN    NaN    NaN -1.707 -1.220  0.061           D
 2019-01-18 16:45:47.853    NaN    NaN    NaN  0.122 -2.561  0.244           D
 2019-01-18 16:45:47.893    NaN    NaN    NaN  1.829 -2.988 -1.341           D
 2019-01-18 16:45:47.933    NaN    NaN    NaN  6.098 -2.439 -2.195           D
 ...                        ...    ...    ...    ...    ...    ...         ...
 2019-01-18 17:35:13.616    NaN    NaN    NaN -1.220 -4.146  3.537           D
 2019-01-18 17:35:13.621 -0.039 -1.027 -0.039    NaN    NaN    NaN         NaN
 2019-01-18 17:35:13.656    NaN    NaN    NaN -0.122 -6.159  0.183           D
 2019-01-18 17:35:13.696    NaN    NaN    NaN -0.671 -3.171 -0.305           D
 2019-01-18 17:35:13.701 -0.049 -1.031 -0.049    NaN    NaN    NaN         NaN

                          label          category   set
 epoch (ms)
 2019-01-18 16:45:47.773  squat  medium_MetaWear_  63.0
 2019-01-18 16:45:47.813  squat  medium_MetaWear_  63.0
 2019-01-18 16:45:47.853  squat  medium_MetaWear_  63.0
 2019-01-18 16:45:47.893  squat  medium_MetaWear_  63.0
 2019-01-18 16:45:47.933  squat  medium_MetaWear_  63.0
 ...                        ...               ...   ...
 2019-01-18 17:35:13.616    row  medium_MetaWear_  61.0
 2019-01-18 17:35:13.621    NaN               NaN   NaN
 2019-01-18 17:35:13.656    row  medium_MetaWear_  61.0
 2019-01-18 17:35:13.696    row  medium_MetaWear_  61.0
 2019-01-18 17:35:13.701    NaN               NaN   NaN

 [10692 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y  gyr_z participant  \
 epoch (ms)
 2019-01-19 17:12:14.175    NaN    NaN    NaN  4.451 -6.098  0.244           E
 2019-01-19 17:12:14.215    NaN    NaN    NaN  3.659 -6.037  0.732           E
 2019-01-19 17:12:14.255    NaN    NaN    NaN  1.402 -3.902  0.915           E
 2019-01-19 17:12:14.295    NaN    NaN    NaN  0.305 -2.195 -0.915           E
 2019-01-19 17:12:14.335    NaN    NaN    NaN -1.463 -1.524 -0.610           E
 ...                        ...    ...    ...    ...    ...    ...         ...
 2019-01-19 17:35:13.616    NaN    NaN    NaN -1.220 -4.146  3.537           E
 2019-01-19 17:35:13.621 -0.039 -1.027 -0.039    NaN    NaN    NaN         NaN
 2019-01-19 17:35:13.656    NaN    NaN    NaN -0.122 -6.159  0.183           E
 2019-01-19 17:35:13.696    NaN    NaN    NaN -0.671 -3.171 -0.305           E
 2019-01-19 17:35:13.701 -0.049 -1.031 -0.049    NaN    NaN    NaN         NaN

                          label          category   set
 epoch (ms)
 2019-01-19 17:12:14.175  bench  medium_MetaWear_  69.0
 2019-01-19 17:12:14.215  bench  medium_MetaWear_  69.0
 2019-01-19 17:12:14.255  bench  medium_MetaWear_  69.0
 2019-01-19 17:12:14.295  bench  medium_MetaWear_  69.0
 2019-01-19 17:12:14.335  bench  medium_MetaWear_  69.0
 ...                        ...               ...   ...
 2019-01-19 17:35:13.616    row  medium_MetaWear_  91.0
 2019-01-19 17:35:13.621    NaN               NaN   NaN
 2019-01-19 17:35:13.656    row  medium_MetaWear_  91.0
 2019-01-19 17:35:13.696    row  medium_MetaWear_  91.0
 2019-01-19 17:35:13.701    NaN               NaN   NaN

 [10582 rows x 10 columns],
                          acc_x  acc_y  acc_z  gyr_x  gyr_y  gyr_z participant  \
 epoch (ms)
 2019-01-20 17:22:25.756    NaN    NaN    NaN  1.341  1.463  0.671           E
 2019-01-20 17:22:25.796    NaN    NaN    NaN  1.098  1.098  0.976           E
 2019-01-20 17:22:25.836    NaN    NaN    NaN  0.183 -2.195  0.305           E
 2019-01-20 17:22:25.876    NaN    NaN    NaN  0.061 -2.195  0.183           E
 2019-01-20 17:22:25.916    NaN    NaN    NaN  0.305  0.915  1.159           E
 ...                        ...    ...    ...    ...    ...    ...         ...
 2019-01-20 17:35:13.382 -0.060 -1.021 -0.058    NaN    NaN    NaN         NaN
 2019-01-20 17:35:13.462 -0.035 -1.037 -0.026    NaN    NaN    NaN         NaN
 2019-01-20 17:35:13.542 -0.045 -1.029 -0.033    NaN    NaN    NaN         NaN
 2019-01-20 17:35:13.622 -0.039 -1.027 -0.039    NaN    NaN    NaN         NaN
 2019-01-20 17:35:13.702 -0.049 -1.031 -0.049    NaN    NaN    NaN         NaN

                         label           category   set
 epoch (ms)
 2019-01-20 17:22:25.756  rest  sitting_MetaWear_  80.0
 2019-01-20 17:22:25.796  rest  sitting_MetaWear_  80.0
 2019-01-20 17:22:25.836  rest  sitting_MetaWear_  80.0
 2019-01-20 17:22:25.876  rest  sitting_MetaWear_  80.0
 2019-01-20 17:22:25.916  rest  sitting_MetaWear_  80.0
 ...                       ...                ...   ...
 2019-01-20 17:35:13.382   NaN                NaN   NaN
 2019-01-20 17:35:13.462   NaN                NaN   NaN
 2019-01-20 17:35:13.542   NaN                NaN   NaN
 2019-01-20 17:35:13.622   NaN                NaN   NaN
 2019-01-20 17:35:13.702   NaN                NaN   NaN

 [4580 rows x 10 columns]]

In [107]:
data_resampled = pd.concat([df.resample(rule="200ms").apply(sampling).dropna() for df in days])

data_resampled["set"] = data_resampled['set'].astype("int")

data_resampled.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9009 entries, 2019-01-11 15:08:05.200000 to 2019-01-20 17:33:27.800000
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   acc_x        9009 non-null   float64
 1   acc_y        9009 non-null   float64
 2   acc_z        9009 non-null   float64
 3   gyr_x        9009 non-null   float64
 4   gyr_y        9009 non-null   float64
 5   gyr_z        9009 non-null   float64
 6   category     9009 non-null   object
 7   label        9009 non-null   object
 8   participant  9009 non-null   object
 9   set          9009 non-null   int32
dtypes: float64(6), int32(1), object(3)
memory usage: 739.0+ KB

In [108]:
data_resampled.to_pickle(path="../../data/interim/01_data_processed.pkl")